<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/hello-world/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/hello-world/">Home</a></li>
		        	<li><a href="/hello-world/about">About</a></li>
	        		<li><a href="/hello-world/cv">CV</a></li>
	        		<li><a href="/hello-world/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
				{% include random.md %}
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hankquinlanhub@gmail.com">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/hankquinlan</a></li>
				</ul>
			</footer>
		</body>
	</html>
